Hourly <i>{{symbol}}</i> info ℹ️

<b>Price</b>: {{coingecoInfo.usdPrice}} <i>USD️</i>
Daily trading <b>volume</b>: {{coingecoInfo.usdVolume}} <i>USD️️</i>
<b>Bought</b> for the last hour on UniSwap: {{uniswapInfo.buyVolume}} <i>{{symbol}}️️</i>
<b>Sold</b> for the last hour on UniSwap: {{uniswapInfo.sellVolume}} <i>{{symbol}}️️</i>
