<b>{{symbol}} price</b>: {{coingeckoInfo.usdPrice}} <i>USD️</i>
<b>Total holders</b>: {{ethplorerData.holdersCount}}
<b>Total transfers</b>: {{ethplorerData.transfersCount}}
{{#ethereum}}
<b>UniSwap</b>
<b>1 hour info</b>:
  <b>bought</b>/<b>sold</b>: {{uniswapInfo.hourlyInfo.buyVolume}} / {{uniswapInfo.hourlyInfo.sellVolume}} <i>{{symbol}}️️</i>
  Trading <b>volume</b>: {{uniswapInfo.hourlyInfo.amountUSD}} <i>USD️</i>
<b>24 hours info</b>:
  <b>Bought</b>/<b>sold</b>: {{uniswapInfo.info24h.buyVolume}} / {{uniswapInfo.info24h.sellVolume}} <i>{{symbol}}️️</i>
  Trading <b>volume</b>: {{uniswapInfo.info24h.amountUSD}} <i>USD️</i>
<b>Pool data</b>:
{{#uniswapPairData}}
  <i>{{token0Symbol}}/{{token1Symbol}}</i>
    <b>Pooled</b> {{token0Symbol}} / {{token1Symbol}}: {{pooledToken0}} / {{pooledToken1}}
    1h/24h trading <b>volume</b>: {{lastHourData.volumeUSD}} / {{last24hData.volumeUSD}} <i>USD️</i>
    Total <b>TXs</b>: {{totalTxns}}
    <b>TXs</b> for the last 1h/24h: {{lastHourData.txns}} / {{last24hData.txns}}
{{/uniswapPairData}}
{{/ethereum}}
{{#bsc}}
<b>PancakeSwap</b>
{{^pancakeswapInfo.briefly}}
<b>1 hour info</b>:
<b>bought</b>/<b>sold</b>: {{pancakeswapInfo.hourlyInfo.buyVolume}} / {{pancakeswapInfo.hourlyInfo.sellVolume}} <i>{{symbol}}️️</i>
Trading <b>volume</b>: {{pancakeswapInfo.hourlyInfo.amountUSD}} <i>USD️</i>
<b>24 hours info</b>:
<b>Bought</b>/<b>sold</b>: {{pancakeswapInfo.info24h.buyVolume}} / {{pancakeswapInfo.info24h.sellVolume}} <i>{{symbol}}️️</i>
Trading <b>volume</b>: {{pancakeswapInfo.info24h.amountUSD}} <i>USD️</i>
{{/pancakeswapInfo.briefly}}
<b>Pool data</b>:
{{#pancakeswapPairData}}
    <i>{{token0Symbol}}/{{token1Symbol}}</i>
    <b>Pooled</b> {{token0Symbol}} / {{token1Symbol}}: {{pooledToken0}} / {{pooledToken1}}
    {{^pancakeswapInfo.briefly}}
    1h/24h trading <b>volume</b>: {{lastHourData.volumeUSD}} / {{last24hData.volumeUSD}} <i>USD️</i>
    Total <b>TXs</b>: {{totalTxns}}
    <b>TXs</b> for the last 1h/24h: {{lastHourData.txns}} / {{last24hData.txns}}
    {{/pancakeswapInfo.briefly}}
{{/pancakeswapPairData}}
{{/bsc}}